{% extends "account/base.jinja2" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}
{% block body_title %}{{ _("Change Password") }}{% endblock %}

{% block content %}
<p>{{ _('Your password is now changed.') }}</p>
{% endblock %}
