[run]
branch = True

[report]
source =
    bcauth
    tools
    webplatformcompat
omit =
    tools/client.py
    tools/common.py
    tools/download_data.py
    tools/gather_import_issues.py
    tools/import_mdn.py
    tools/integration_requests.py
    tools/load_spec_data.py
    tools/load_webcompat_data.py
    tools/mirror_mdn_features.py
    tools/sample_mdn.py
    tools/sync_from_api.py
    tools/upload_data.py
    mdn/migrations/*.py
    webplatformcompat/migrations/*.py
