[run]
branch = True

[report]
source =
    tools
    webplatformcompat
omit =
    tools/client.py
    tools/download_data.py
    tools/load_spec_data.py
    tools/load_webcompat_data.py
    tools/sample_mdn.py
    tools/sync_from_api.py
    tools/upload_data.py
    webplatformcompat/migrations/*.py
