# Sample Autoenv configuration
# 1. Install autoenv - https://github.com/kennethreitz/autoenv
# 2. Copy to .env and customize for your own settings.

#
# Clear env variables used by project
#
unset ALLOWED_HOSTS
unset DATABASE_URL
unset DEFAULT_FROM_EMAIL
unset DJANGO_DEBUG
unset EMAIL_BACKEND
unset EMAIL_FILE_PATH
unset EMAIL_HOST
unset EMAIL_HOST_PASSWORD
unset EMAIL_HOST_USER
unset EMAIL_PORT
unset EMAIL_SUBJECT_PREFIX
unset EMAIL_USE_SSL
unset EMAIL_USE_TLS
unset EXTRA_INSTALLED_APPS
unset FXA_OAUTH_ENDPOINT
unset FXA_PROFILE_ENDPOINT
unset MDN_ALLOWED_URL_PREFIXES
unset MEMCACHE_SERVERS
unset MEMCACHIER_PASSWORD
unset MEMCACHIER_SERVERS
unset MEMCACHIER_USERNAME
unset SECRET_KEY
unset SECURE_PROXY_SSL_HEADER
unset SERVER_EMAIL
unset STATIC_ROOT

#
# Most common config
#

# Enable Django's debug mode - database logging, detailed tracebacks, etc.
export DJANGO_DEBUG=1

# Set the email backend, defaults to SMTP backend
export EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"

# Database config - See https://github.com/kennethreitz/dj-database-url
# export DATABASE_URL="postgres://dbuser:dbpassword@localhost:5432/dbname"

# Enable memcache
# export MEMCACHE_SERVERS='localhost:11211'

# Choose Django's SECRET_KEY
# export SECRET_KEY="I am strangely compelled to change this."

# Set Firefox Account to development settings
# export FXA_OAUTH_ENDPOINT="https://oauth-latest.dev.lcip.org/v1"
# export FXA_PROFILE_ENDPOINT="https://latest.dev.lcip.org/profile/v1"

#
# Other email settings
#

# Comma-separated list of admin names, emails
# export ADMIN_NAMES="alice,bob"
# export ADMIN_EMAILS="alice@example.com,bob@example.com"

# SMTP settings
# export EMAIL_HOST="smtp.example.com"
# export EMAIL_PORT=25
# export EMAIL_HOST_USER=""
# export EMAIL_HOST_PASSWORD=""
# export EMAIL_USE_TLS=1
# export EMAIL_USE_SSL=1

# Other mail settings
# export EMAIL_SUBJECT_PREFIX="[browsercompat] "
# export EMAIL_FILE_PATH=""
# export SERVER_EMAIL="root@localhost"
# export DEFAULT_FROM_EMAIL="webmaster@localhost"

#
# Less common config
#

# Comma-separated list of allowed hosts, used in non-debug mode
# export ALLOWED_HOSTS="adj-noun.herokoapp.com,adj-noun.co"

# Comma-separated list of extra apps to add to INSTALLED_APPS
# export EXTRA_INSTALLED_APPS="gunicorn"

# Memcache w/ username/password security
# export MEMCACHE_USERNAME='username'
# export MEMCACHE_PASSWORD='password'

# Memcachier config, heroku-friendly alternate to memcache config
# export MEMCACHIER_SERVERS="X.dev.ec2.memcachier.com:11211"
# export MEMCACHIER_USERNAME="username"
# export MEMCACHIER_PASSWORD="password"

# Comma-separated list of URL prefixes allowed by the importer / scraper
# export MDN_ALLOWED_URL_PREFIXES="http://localhost:8080"

# Disable DRF Instance Cache, for big imports
# export USE_DRF_INSTANCE_CACHE=0

# Choose eventual consistency, vs. recursively populating a cold cache
# export DRF_INSTANCE_CACHE_POPULATE_COLD=0

# Enable SSL-at-the-proxy
# export SECURE_PROXY_SSL_HEADER="HTTP_X_FORWARDED_PROTOCOL,https"

# Set folder for gathered static files
# export STATIC_ROOT="staticfiles"

# Set the site ID
# export SITE_ID="2"
