# Sample Environment configuration
# Copy to .env and customize for your own settings.

#
# Most common config
#

# Enable Django's debug mode - database logging, detailed tracebacks, etc.
DJANGO_DEBUG=1

# Set the email backend, defaults to SMTP backend
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"

# Database config - See https://github.com/kennethreitz/dj-database-url
# DATABASE_URL="postgres://dbuser:dbpassword@localhost:5432/dbname"

# Enable memcache
# MEMCACHE_SERVERS='localhost:11211'

# Choose Django's SECRET_KEY
# SECRET_KEY="I am strangely compelled to change this."

# Set Firefox Account to development settings
# FXA_SCOPE="profile:email,profile:uid,profile:display_name,profile:avatar"
# FXA_OAUTH_ENDPOINT="https://oauth-latest.dev.lcip.org/v1"
# FXA_PROFILE_ENDPOINT="https://latest.dev.lcip.org/profile/v1"

# Set the default page size for pagination, defaults to 10
# PAGE_SIZE=20

#
# Other email settings
#

# Comma-separated list of admin names, emails
# ADMIN_NAMES="alice,bob"
# ADMIN_EMAILS="alice@example.com,bob@example.com"

# SMTP settings
# EMAIL_HOST="smtp.example.com"
# EMAIL_PORT=25
# EMAIL_HOST_USER=""
# EMAIL_HOST_PASSWORD=""
# EMAIL_USE_TLS=1
# EMAIL_USE_SSL=1

# Other mail settings
# EMAIL_SUBJECT_PREFIX="[browsercompat] "
# EMAIL_FILE_PATH=""
# SERVER_EMAIL="root@localhost"
# DEFAULT_FROM_EMAIL="webmaster@localhost"

#
# Security Settings, including SecurityMiddleware
# https://docs.djangoproject.com/en/1.9/ref/middleware/#django.middleware.security.SecurityMiddleware
#

# Comma-separated list of allowed hosts, used in non-debug mode
# ALLOWED_HOSTS="adj-noun.herokoapp.com,adj-noun.co"

# Enable SSL-at-the-proxy
# SECURE_PROXY_SSL_HEADER="HTTP_X_FORWARDED_PROTOCOL,https"

# Enable HTTP Strict Transport Security (HSTS) for whole domain
# SECURE_HSTS_SECONDS=3600  # One hour

# Enable HSTS for subdomains as well
# SECURE_HSTS_INCLUDE_SUBDOMAINS=1

# Add header X-Content-Type-Options: nosniff
# SECURE_CONTENT_TYPE_NOSNIFF=1

# Add header X-XSS-Protection: 1; mode=block
# SECURE_BROWSER_XSS_FILTER=1

# Redirect HTTP connections to HTTPS in Django
# SECURE_SSL_REDIRECT=1

# Only send session cookies on HTTPS connections
# SESSION_COOKIE_SECURE=1

# Only send CSRF cookies on HTTPS connections
# CSRF_COOKIE_SECURE=1

# Add HttpOnly flag to CSRF cookie, to prevent in-page JS from accessing
# CSRF_COOKIE_HTTPONLY=1

# Disallow loading in an iframe, to prevent clickjacking
# https://docs.djangoproject.com/en/1.9/ref/clickjacking/
# X_FRAME_OPTIONS = 'DENY'

#
# Less common config
#

# Comma-separated list of extra apps to add to INSTALLED_APPS
# EXTRA_INSTALLED_APPS="gunicorn"

# Memcache w/ username/password security
# MEMCACHE_USERNAME='username'
# MEMCACHE_PASSWORD='password'

# Memcachier config, heroku-friendly alternate to memcache config
# MEMCACHIER_SERVERS="X.dev.ec2.memcachier.com:11211"
# MEMCACHIER_USERNAME="username"
# MEMCACHIER_PASSWORD="password"

# Comma-separated list of URL prefixes allowed by the importer / scraper
# MDN_ALLOWED_URL_PREFIXES="http://localhost:8080"

# Disable DRF Instance Cache, for big imports
# USE_DRF_INSTANCE_CACHE=0

# Choose eventual consistency, vs. recursively populating a cold cache
# DRF_INSTANCE_CACHE_POPULATE_COLD=0

# Set folder for gathered static files
# STATIC_ROOT="staticfiles"

# Set the site ID
# SITE_ID="2"
