# Sample Autoenv configuration
# 1. Install autoenv - https://github.com/kennethreitz/autoenv
# 2. Copy to .env and customize for your own settings.

#
# Clear env variables used by project
#
unset ALLOWED_HOSTS
unset DATABASE_URL
unset DJANGO_DEBUG
unset EXTRA_INSTALLED_APPS
unset MDN_ALLOWED_URL_PREFIXES
unset MEMCACHE_SERVERS
unset MEMCACHIER_PASSWORD
unset MEMCACHIER_SERVERS
unset MEMCACHIER_USERNAME
unset SECRET_KEY
unset SECURE_PROXY_SSL_HEADER
unset STATIC_ROOT

#
# Most common config
#

# Enable Django's debug mode - database logging, detailed tracebacks, etc.
export DJANGO_DEBUG=1

# Database config - See https://github.com/kennethreitz/dj-database-url
# export DATABASE_URL="postgres://dbuser:dbpassword@localhost:5432/dbname"

# Enable memcache
# export MEMCACHE_SERVERS='localhost:11211'

# Choose Django's SECRET_KEY
# export SECRET_KEY="I am strangely compelled to change this."


#
# Less common config
#

# Comma-separated list of allowed hosts, used in non-debug mode
# export ALLOWED_HOSTS="adj-noun.herokoapp.com,adj-noun.co"

# Comma-separated list of extra apps to add to INSTALLED_APPS
# export EXTRA_INSTALLED_APPS="gunicorn"

# Memcache w/ username/password security
# export MEMCACHE_USERNAME='username'
# export MEMCACHE_PASSWORD='password'

# Memcachier config, heroku-friendly alternate to memcache config
# export MEMCACHIER_SERVERS="X.dev.ec2.memcachier.com:11211"
# export MEMCACHIER_USERNAME="username"
# export MEMCACHIER_PASSWORD="password"

# Comma-separated list of URL prefixes allowed by the importer / scraper
# export MDN_ALLOWED_URL_PREFIXES="http://localhost:8080"

# Disable DRF Instance Cache, for big imports
# export USE_DRF_INSTANCE_CACHE=0

# Choose eventual consistency, vs. recursively populating a cold cache
# export DRF_INSTANCE_CACHE_POPULATE_COLD=0

# Enable SSL-at-the-proxy
# export SECURE_PROXY_SSL_HEADER="HTTP_X_FORWARDED_PROTOCOL,https"

# Set folder for gathered static files
# export STATIC_ROOT="staticfiles"

# Set the site ID
# export SITE_ID="2"
