include LICENSE CONTRIBUTING.rst HISTORY.rst README.rst
include Makefile manage.py
include requirements.txt
include Procfile app.json
include env.dist
include runtime.txt

recursive-include bcauth *.py
recursive-include bcauth/static *.css *.png
recursive-include bcauth/jinja2 *.html
recursive-include data README.txt
recursive-include docs Makefile *.gv *.svg conf.py *.rst make.bat *.py doc_cases.json
recursive-include docs/v1/raw *.txt *.json .keep
recursive-include docs/v1/resources *.json README.txt
recursive-include docs/v2/raw *.txt *.json .keep
recursive-include tools *.py *.sh
recursive-include mdn *.py
recursive-include mdn/jinja2 *.html
recursive-include mdn/static *.css
recursive-include requirements *.txt
recursive-include webplatformcompat/migrations *.py
recursive-include webplatformcompat/static *.css *.map *.eot *.svg *.ttf *.woff *.js .keep
recursive-include webplatformcompat/jinja2 *.html
recursive-include webplatformcompat/templatetags *.py
recursive-include webplatformcompat/tests *.py
recursive-include webplatformcompat/v1 *.py
recursive-include webplatformcompat/v2 *.py
recursive-include wpcsite *.py
