include LICENSE
include CONTRIBUTING.rst
include HISTORY.rst
include README.rst
include Makefile
include runtests.py

recursive-include webplatformcompat *.html *.png *.gif *js *.css *jpg *jpeg *svg *py *.keep
recursive-include requirements *.txt
recursive-include docs Makefile *.gv *.svg _templates conf.py *.rst draft make.bat
recursive-include tests *.py
recursive-include tools *.py
