include LICENSE CONTRIBUTING.rst HISTORY.rst README.rst
include Makefile .coveragerc manage.py
include requirements.txt requirements-dev.txt
include Procfile app.json
include env.dist

recursive-include bcauth *.py
recursive-include bcauth/static *.css *.png
recursive-include bcauth/templates *.jinja2 *.txt *.html
recursive-include data README.txt
recursive-include docs Makefile *.gv *.svg conf.py *.rst make.bat
recursive-include tests *.py
recursive-include tools *.py
recursive-include mdn *.py
recursive-include mdn/templates *.jinja2
recursive-include webplatformcompat/migrations *.py
recursive-include webplatformcompat/static *.css *.map *.eot *.svg *.ttf *.woff *.js .keep
recursive-include webplatformcompat/templates *.html *.jinja2
recursive-include webplatformcompat/tests *.py
recursive-include wpcsite *.py
