# Requirements for development

# Documentation
Pygments==1.6
Sphinx==1.2.2
docutils==0.12

# Multi-environment testing
py==1.4.22
virtualenv==1.11.6
tox==1.7.2

# PEP8, PEP257 and static analysis
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
flake8==2.2.2
pep257==0.3.2
flake8-docstrings==0.2.1

# MANIFEST.in checker
check-manifest==0.21

# Package QA
pyroma==1.6

# For ./manage.py runserver_plus
Werkzeug==0.9.6

# Better shell, debugger
gnureadline==6.3.3
ipython==2.1.0
ipdb==0.8

# Debugging
sqlparse==0.1.11
django-debug-toolbar==1.2.1

# Backport of Python 3 mock
mock==1.0.1

# Test coverage
coverage==3.7.1
docopt==0.6.2
requests==2.3.0
PyYAML==3.11
coveralls==0.4.2
