{% extends "account/profile.html" %}

{% block head_subtitle %} - {{ _("Sign Out") }}{% endblock %}
{% block body_title %}{{ _("Sign Out") }}{% endblock %}

{% block content %}
<p>{{ _('Are you sure you want to sign out?') }}</p>

<form method="post" action="{{ url('account_logout') }}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{{ _('Sign Out') }}</button>
  <button class="btn btn-default" type="button" onclick="window.history.go(-1); return false;">{{ _('Go Back') }}</button>
</form>


{% endblock %}
