{% extends "account/base.html" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}
{% block body_title %}
{%- if token_fail -%}
  {{ _("Bad Token") }}
{%- else -%}
  {{ _("Change Password") }}
{%- endif -%}
{% endblock %}

{% block content %}
{% if token_fail %}
    <p>{% trans passwd_reset_url=url('account_reset_password') %}
    The password reset link was invalid, possibly because it has already been used.
    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
    {% endtrans %}</p>
{% else %}
    {% if form %}
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p() }}
            <input class="btn btn-primary" type="submit" name="action" value="{{ _("Change Password") }}"/>
        </form>
    {% else %}
        <p>{{ _('Your password is now changed.') }}</p>
    {% endif %}
{% endif %}
{% endblock %}
