{% extends "account/base.html" %}

{% block head_title %}{{ _("Signup") }}{% endblock %}
{% block body_title %}{{ _("Signup") }}{% endblock %}

{% block content %}
<p>{% trans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endtrans %}</p>

<form class="signup" id="signup_form" method="post" action="{{ url('account_signup') }}">
  {% csrf_token %}
  {{ form.as_p() }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{{ _("Sign Up") }} &raquo;</button>
</form>
{% endblock %}


