{% extends "account/profile.html" %}
{% block head_subtitle %} - {{ _("OAuth2 Client Applications") }}{% endblock %}
{% block body_title %}{{ _("OAuth2 Client Applications") }}{% endblock %}

{% block content %}
  <p>{{ _("OAuth2 client applications are used for programatically updating API data.") }}</p>
  {% if applications %}
    <ul>
      {% for application in applications -%}
      <li><a href="{{ application.get_absolute_url() }}">{{ application.name }}</a></li>
      {%- endfor %}
    </ul>
    <a class="btn btn-success" href="{{ url("oauth2_provider:register") }}">{{_("New Application")}}</a>
    {% else %}
    <p>{{ _("No applications defined. <a href=\"%(register_url)s\">Click here</a> if you want to register a new one.", register_url=url("oauth2_provider:register"))  }}</p>
  {% endif %}
{% endblock content %}
