{% extends "mdn/base.html" %}
{% import "mdn/macros.html" as macros %}

{% block head_title %}Parse results for {{ object.slug() }}{% endblock %}
{% block body_title %}Parse results for {{ object.slug() }}{% endblock %}

{% block quick_nav %}
<p><em>back to <a href="{{ url('feature_page_list') }}">page list</a></em></p>
{% endblock %}

{% block content %}
<dl>
  <dt>ID</dt>
    <dd>{{ object.id }}</dd>
  <dt>MDN URL</dt>
    <dd>
      <a id="mdn_link" href="{{ object.url }}">{{ object.url }}</a>
      <br/>
      (<a id="mdn_link_spec" href="{{ object.url }}#Specifications">Specifications</a>,
      <a id="mdn_link_compat" href="{{ object.url }}#Browser_compatibility">Browser Compatibility</a>)
    </dd>
  <dt>Feature ID</dt>
    <dd><a href="/view_feature/{{ object.feature_id }}">{{ object.feature_id }}</a></td>
  <dt>Feature Slug</dt>
    <dd><code>{{ object.feature.slug }}</code></dd>
  <dt>Parse Status</dt>
    <dd>{{ object.get_status_display() }}</dd>
  <dt>Commit Status</dt>
    <dd>{{ object.get_committed_display() }}</dd>
  <dt>Converted Compatibility Status</dt>
    <dd>{{ object.get_converted_compat_display() }}</dd>
  <dt>Last Modified</dt>
    <dd>{{ object.same_since() }}</dd>
  <dt>Issues</dt>
    <dd>{% if object.has_issues %}
      <ol>
        {% for issue in object.issues.order_by("start") -%}
        <li>{{ macros.issue_div(issue) }}</li>
        {% endfor -%}
      </ol>{% else %}
      <em>None detected</em>
      {% endif %}
    </dd>
</dl>
<h3>Actions</h3>
<p class="bg-info nextaction">
<strong>Next Action</strong>:
{% if object.committed == object.COMMITTED_UNKNOWN %}
  {% if can_reparse_mdn_import(request.user) %}
    Reparse to update the status.
  {% elif can_refresh_mdn_import(request.user) %}
    Reset to update the status.
  {% else %}
    Sign In as an editor to update the status.
  {% endif %}
{% elif object.committed in (object.COMMITTED_NO, object.COMMITTED_NEEDS_UPDATE) %}
  {% if can_commit_mdn_import(request.user) %}
    Commit data to the API
  {% else %}
    Sign In as an editor to commit data to the API,
    {% if can_refresh_mdn_import(request.user) %}
    or Reset to update with the latest changes from MDN.
    {% else %}
    or to update with the latest changes from MDN.
    {% endif %}
  {% endif %}
{% elif object.committed == object.COMMITTED_YES %}
  {% if object.converted_compat == object.CONVERTED_UNKNOWN %}
    {% if can_reparse_mdn_import(request.user) %}
      Reparse to update the status.
    {% elif can_refresh_mdn_import(request.user) %}
      Reset to update the status.
    {% else %}
      Sign In as an editor to update the status.
    {% endif %}
  {% elif object.converted_compat == object.CONVERTED_NO %}
    <a href="{{ object.feature.mdn_uri['en'] + '$edit#Browser_compatibility' }}" target="_blank">Edit the MDN page</a>
    and add the following macro:
    </p>
    <pre>{{ "{{" }}EmbedCompatTable("{{ object.feature.slug }}"){{ "}}" }}</pre>
    <p class="bg-info nextaction">
    It should be the at the end of the Browser Compatibility section, after the existing compatibility tables and
    any footnotes, but before any next section (such as "See Also").
    {% if can_refresh_mdn_import(request.user) %}
      After saving the MDN page, return here and select Reset to update the status.
    {% endif %}
  {% elif object.converted_compat == object.CONVERTED_YES %}
     The MDN page is converted.
    {% if can_refresh_mdn_import(request.user) %}
      Use Reset if the MDN page changes.
    {% else %}
      Sign In as an editor to update with the latest changes from MDN.
    {% endif %}
  {% elif object.converted_compat == object.CONVERTED_MISMATCH %}
     The MDN page is converted. The following macro was expected:
     <pre>{{ "{{" }}EmbedCompatTable("{{ object.feature.slug }}"){{ "}}" }}</pre>
     but a different slug was used.  If this is incorrect,
     <a href="{{ object.feature.mdn_uri['en'] + '$edit' }}" target="_blank">Fix the MDN page</a>
     {% if can_refresh_mdn_import(request.user) %}
     and use Reset to download the new page and reparse.
     {% else %}
     and Sign In as an editor to download the new page and reparse.
     {% endif %}
  {% elif object.converted_compat == object.CONVERTED_NO_DATA %}
  This page has no specification or compatibility data.
  <a href="{{ '%s?status=%s' % (url('feature_page_list'), object.STATUS_PARSED_ERROR) }}">Find a more interesting page</a>.
  {% else %}
    Unexpected condition. Please
    <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla%20Developer%20Network&component=BrowserCompat">file a bug report</a>.
  {% endif %}
{% elif object.committed == object.COMMITTED_NEEDS_FIXES %}
    <a href="{{ object.feature.mdn_uri['en'] + '$edit' }}" target="_blank">Edit the MDN page</a>
    to fix the blocking issues.
{% elif object.committed == object.COMMITTED_NO_DATA %}
  This page has no specification or compatibility data.
  <a href="{{ '%s?status=%s' % (url('feature_page_list'), object.STATUS_PARSED_ERROR) }}">Find a more interesting page</a>.
{% else %}
  Unexpected condition. Please
  <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla%20Developer%20Network&component=BrowserCompat">file a bug report</a>.
{% endif %}
</p>
<div>
{% if can_refresh_mdn_import(request.user) %}
<form action="{{ url('feature_page_reset', pk=object.pk) }}" method="post">
{% csrf_token %}
<input id="submit-reset" class="btn btn-primary" type="submit" value="Reset">
<label for="submit-reset">Download MDN page and reparse</label>
</form>
<br/>
{% endif %}
{% if can_reparse_mdn_import(request.user) %}
<form id="form-reparse" action="{{ url('feature_page_reparse', pk=object.pk) }}" method="post">
{% csrf_token %}
<input id="submit-reparse" class="btn btn-primary" type="submit" value="Reparse">
<label for="submit-reparse">Re-parse the cached MDN page</label>
</form>
<br/>
{% endif %}
{% if can_commit_mdn_import(request.user) and object.errors == 0 and object.critical == 0 %}
<form id="form-commit" method="put"
 action="{{ url('v1:viewfeatures-detail', pk=object.feature_id) }}">
{% csrf_token %}
<input id="submit-commit" class="btn btn-primary" type="submit" value="Commit">
<label for="submit-commit" id="submit-commit-label">Commit data to the API</label>
</form>
<div id="commit-errors" class="hide">
    <h4>Errors returned from API:</h4>
    <pre id="pre-commit-errors"></pre>
</div>
<br/>
{% endif %}
</div>

{% if object.is_parsed %}
<h1>Sample Presentation of {{ object.slug() }}</h1>
<h2>Specifications</h2>
<div id="wpc_specifications">
  <p><i>Loading...</i></p>
</div>

<h2>Browser compatibility</h2>
<div id="wpc_tables">
  <p><i>Loading...</i></p>
</div>

<h2>Languages</h2>
<p>
    The data may include translations of items such as feature names,
    specification statuses, release notes URIs, etc.  Available languages:</p>
<div id="wpc_languages">
  <ul>
    <li><i>Loading...</i></li>
  </ul>
</div>

<h2>Raw Data</h2>
<p>
  This
  <a href="{{ url('feature_page_json', pk=object.pk) }}">raw JSON-API data</a>
  resembles that returned from
  <code>
    <a id="wpc_uri" href="{{ url('v1:viewfeatures-detail', pk=object.feature.id) }}">
      {{ url('v1:viewfeatures-detail', pk=object.feature.id) }}
    </a>
  </code>
</p>

<div id="wpc_data">
  <p><i>Loading...</i></p>
</div>
{% else %}
<p><em>
    Parsed data and scraping issues will be available when the status is "Parsing Complete".
</em></p>
{% endif %}
{% endblock content %}

{% block body_js_extra %}
<script>
function load_tables(resources, lang) {
    var spec_table, browser_tables, langs, pagination;

    spec_table = WPC.generate_specification_table(resources, lang);
    if (spec_table) {
    $("#wpc_specifications").html(spec_table);
    } else {
    $("#wpc_specifications").html("<p><i>No specifications</i></p>");
    }

    browser_tables = WPC.generate_browser_tables(resources, lang);
    if (browser_tables) {
    $("#wpc_tables").html(browser_tables);
    } else {
    $("#wpc_tables").html("<p><i>No features</i></p>");
    }

    langs = "<ul>";
    $.each(resources.meta.compat_table.languages, function(index, value) {
        langs += (
            "<li><a href=\"#\" onclick=\"load_tables(resources, '" +
            value + "')\" >" + value + "</a>");
        if (value === lang) {
            langs += " (<strong>current</strong>)";
        }
        langs += "</li>";
    });
    langs += '</ul>';
    $("#wpc_languages").html($(langs));

    mdn_uri = WPC.trans_str(resources.data.mdn_uri, lang);
    if (!mdn_uri) {
        mdn_uri = "https://developer.mozilla.org/";
    }
    $("#mdn_link").attr("href", mdn_uri);
    $("#mdn_link").text(decodeURIComponent(mdn_uri));
    $("#mdn_link_spec").attr("href", mdn_uri + "#Specifications")
    $("#mdn_link_compat").attr("href", mdn_uri + "#Browser_compatibility")

    pagination = resources.meta.compat_table.pagination["linked.features"];
    if (pagination && (pagination.next || pagination.previous)) {
        pageText = (
            "<p id=\"wpc_pagination\">There are " + pagination.count +
            " sub-features, which is too many to display on one page." +
            " Go to the ");
        if (pagination.next) {
            pageText += ("<a href=\"#\" onclick=\"load_json('" +
                pagination.next + "')\">next page</a>");
        }
        if (pagination.next && pagination.previous) {
            pageText += " or the ";
        }
        if (pagination.previous) {
            pageText += ("<a href=\"#\" onclick=\"load_json('" +
                pagination.previous + "')\">previous page</a>");
        }
        pageText += ".</p>";
        $("#wpc_pagination").html($(pageText));
    }

    return true;
};

function commit_json() {
    var button, label, frm, ajaxSettings, jsonData;
    button = $("#submit-commit");
    button.removeClass("btn-primary").addClass("btn-disabled");
    label = $("#submit-commit-label");
    label.html("<em>Committing data to the API...</em>");
    frm = $("#form-commit");
    csrf = $("input[name='csrfmiddlewaretoken']").val();
    jsonData = JSON.stringify(data);
    ajaxSettings = {
        type: "PUT",
        url: frm.attr("action"),
        data: jsonData,
        contentType: "application/vnd.api+json",
        headers: {'X-CSRFToken': csrf},
        success: function(data, textStatus, jqXHR) {
            var form = $("#form-reparse");
            label.html("<em>Loading new IDs from API...</em>");
            if (form.length) {
                form.submit();
            } else {
                 $("#form-reset").submit();
            }
            pollServer();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            label.html("Error commiting data to API!");
            $("#pre-commit-errors").html(jqXHR.responseText);
            $("#commit-errors").removeClass("hide");
        }
    }
    $.ajax(ajaxSettings);
    return false;
};

function isProcessing(data) {
    var phase = data && data.meta.scrape && data.meta.scrape.phase;
    return (phase === undefined ||
        phase === "{{ object.STATUS_CHOICES[object.STATUS_STARTING][1] }}" ||
        phase === "{{ object.STATUS_CHOICES[object.STATUS_META][1] }}" ||
        phase === "{{ object.STATUS_CHOICES[object.STATUS_PAGES][1] }}" ||
        phase === "{{ object.STATUS_CHOICES[object.STATUS_PARSING][1] }}");
}

function load_json(data) {
    var resources, json_dump, title;
    json_dump = $("<pre>").text(JSON.stringify(data, null, "  "));
    $("#wpc_data").html(json_dump);
    window.resources = resources = WPC.parse_resources(data);
    load_tables(window.resources, "en");
};

function pollServer() {
    $.getJSON(import_uri).done(function( data ) {
        load_json(data);
        if (isProcessing(data)) {
            setTimeout(pollServer, 1000);
        } else {
            window.location.reload(true);
        }
    });
};

data = {{ object.raw_data | default('null', True) | safe }};
import_uri = "{{ url('feature_page_json', pk=object.id) }}";

$( document ).ready(function () {
    if (data) {
        load_json(data);
        $("#form-commit").on('submit', commit_json);
        if (isProcessing(data)) {
            pollServer();
        }
    }
});
</script>
{% endblock body_js_extra %}
