{% extends "mdn/base.html" %}

{% block head_title %}MDN Importer{% endblock %}
{% block body_title %}MDN Importer{% endblock %}

{% block quick_nav %}
<p><em>go back to <a href="{{ url('home') }}">home</a>, or
  see a <a href="{{ url('issues_summary') }}">summary of current issues</a>.
</em></p>
{% endblock %}

{% block content %}
<form class="form-inline listsearch" action="{{ url("feature_page_url_search") }}" method="GET">
  <div class="form-group">
    <label class="sr-only" for="id-url">MDN URL</label>
    <input type="url" class="form-control" id="id-url" name="url"
     placeholder="https://developer.mozilla.org/en-US/docs/...">
  </div>
  <input id="fp-search" class="btn btn-primary" type="submit"
   value="Search or Filter by URL">
</form>
<form class="form-inline listsearch" action="{{ url("feature_page_slug_search") }}" method="GET">
  <div class="form-group">
    <label class="sr-only" for="id-slug">Feature Slug</label>
    <input type="slug" class="form-control" id="id-slug" name="slug"
     placeholder="web-css-display">
  </div>
  <input id="fp-search" class="btn btn-primary" type="submit"
   value="Search by Feature Slug">
</form>

<h3>Filter</h3>
<p><strong>By Topic</strong>:
  <div>
  {% for topic_name in topics %}
    {% if topic == topic_name %}
      <a class="btn btn-primary"
         href="{{ drop_filter_from_current_url('topic') }}">
        {{ topic_name }} (clear)
      </a>
    {% else %}
      <a class="btn btn-default"
         href="{{ add_filter_to_current_url('topic', topic_name) }}">
        {{ topic_name }}
      </a>
    {% endif %}
  {% endfor %}
  {% if topic and topic not in topics %}
      <a class="btn btn-primary"
         href="{{ drop_filter_from_current_url('topic') }}">
        {{ topic }} (clear)</a>
  {% endif %}
  </div>
</p>

<p><strong>By Parse Status</strong>:
{% if not status %}
<p>
  {{ status_counts.no_data }} page{% if status_counts.no_data != 1 %}s{% endif %} have no compatibility data.
  {{ status_counts.data }} page{% if status_counts.data != 1 %}s{% endif %} with data by error status:
<div class="progress">
{% for name, classes, count, percent in data_counts %}
  {% if count %}
    <div class="progress-bar {% for class in classes %}progress-bar-{{ class }} {% endfor %}"
        aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ percent }}"
        style="width: {{ percent }}%;"
        data-toggle="tooltip" data-placement="top"
        title="{{ count }} ({{ percent }}%) with {{ name }}">
        {{ percent }}%
    </div>
  {% endif %}
{% endfor %}
</div>
</p>
{% endif %}
  <div>
  {% for status_value, name, class in statuses %}
    {% if status == status_value %}
      <a class="btn btn-primary"
         href="{{ drop_filter_from_current_url('status') }}">
        {{ name }} (clear)
      </a>
    {% else %}
      <a class="btn btn-{% if status %}default{% else %}{{ class }}{% endif %}"
         href="{{ add_filter_to_current_url('status', status_value) }}">
        {{ name }}
      </a>
    {% endif %}
  {% endfor %}
  </div>
</p>

<p><strong>By Committed Status</strong>:
  <div>
  {% for value, name in committed_options %}
    {% if committed == value %}
      <a class="btn btn-primary"
         href="{{ drop_filter_from_current_url('committed') }}">
        {{ name }} (clear)
      </a>
    {% else %}
      <a class="btn btn-default"
         href="{{ add_filter_to_current_url('committed', value) }}">
        {{ name }}
      </a>
    {% endif %}
  {% endfor %}
  </div>
</p>

<p><strong>By Conversion Status</strong>:
  <div>
  {% for value, name in converted_options %}
    {% if converted_compat == value %}
      <a class="btn btn-primary"
         href="{{ drop_filter_from_current_url('converted_compat') }}">
        {{ name }} (clear)
      </a>
    {% else %}
      <a class="btn btn-default"
         href="{{ add_filter_to_current_url('converted_compat', value) }}">
        {{ name }}
      </a>
    {% endif %}
  {% endfor %}
  </div>
</p>

{% if page_obj %}
<h3>
    Import Results
    ({{ page_obj.paginator.count }}
    import{% if page_obj.paginator.count > 1 %}s{% endif %})
</h3>
{% if page_obj.number != 1 %}{{ pagination_control(page_obj) }}{% endif %}
<table class="table table-condensed">
  <thead>
    <tr>
      <th>MDN Slug</th>
      <th>Parse Status</th>
      <th>
        <span id="issue-header"
              data-toggle="tooltip" data-placement="top"
              title="Warnings / Errors / Critical Errors">
          Issues
        </span>
      </th>
      <th>Committed?</th>
      <th>Converted?</th>
    </tr>
  </thead>
  <tbody>
    {% for page in page_obj.object_list %}
    <tr>
      <td>{{ page.slug() }}</td>
      <td><a href="{{ url('feature_page_detail', pk=page.id) }}">{{ page.get_status_display() }}</a></td>
      <td>
        <a href="{{ url('feature_page_detail', pk=page.id) }}">
        {%- if page.is_parsed -%}
          {%- if page.has_issues %}
            {{ page.warnings }} / {{ page.errors }} / {{ page.critical }}
          {% else %}
            No Issues
          {% endif %}
        {%- elif page.status == page.STATUS_NO_DATA %}
          No Data
        {%- elif page.status == page.STATUS_ERROR %}
          <strong>Scraping Failed</strong>
        {%- else %}
          <em>Still Processing</em>
        {%- endif -%}
        </a>
      </td>
      <td>{{ page.get_committed_display() }}</td>
      <td>{{ page.get_converted_compat_display() }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination_control(page_obj) }}
{% else %}
  {% if topic or status %}
    <p><i>No pages match the filter{% if topic and status %}s{% endif %}.</i></p>
  {% else %}
    <p><i>No pages imported yet.</i></p>
  {% endif %}
{% endif %}

{% if can_create_mdn_import(request.user) %}
<a class="btn btn-primary" href="{{ url('feature_page_create') }}">Import a new page</a>
{% endif %}

{% endblock content %}

{% block body_js_extra %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
