{% extends "mdn/base.html" %}

{% block head_title %}MDN Importer - {{ total_issues }} Issue{% if total_issues != 1 %}s{% endif %}{% endblock %}
{% block body_title %}MDN Importer - {{ total_issues }} Issue{% if total_issues != 1 %}s{% endif %}{% endblock %}

{% block quick_nav %}
<p><em>
  back to <a href="{{ url('feature_page_list') }}">list of imported pages</a>,
  or <a href="{{ url('issues_summary_csv') }}">download as CSV</a>
</em></p>
{% endblock %}

{% block content %}
{% if issues %}
<ul>
{% for count, slug, severity, brief, examples in issues %}
  {% if count > 0 %}
  <li>
    <a href="{{ url('issues_detail', slug=slug) }}">
      {{ count }} count{% if count > 1 %}s{% endif %}</a>
    of
    <a href="https://wiki.mozilla.org/MDN/Development/CompatibilityTables/Importer#{{ slug }}">
      <code>{{ slug }}</code></a>
    ({{ severity }})
    Example{% if count != 0 %}s{% endif %}:
    <ul>
      {% for mdn_path, pk in examples %}
      <li><a href="{{ url('feature_page_detail', pk=pk) }}">{{ mdn_path }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% else %}
<p><i>No issues found.</i></p>
{% endif %}
{% endblock content %}
