{% extends "webplatformcompat/base.jinja2" %}

{% block head_title %}Browse Web Platform Compatability Data{% endblock %}

{% block body_container %}
<script type="text/x-handlebars">
<div class="container">
    <header>
      <h1>Browse Web Platform Compatability Data</h1>
    </header>
    {{ '{{outlet}}' }}
    <hr>
    <footer>
        <p>© Mozilla 2014</p>
    </footer>
</div>
</script>

<script type="text/x-handlebars" data-template-name="index">
{% raw %}
<p>
    This is an application to view Web Platform Compatability Data.
</p>
<p>
    The following is available:
</p>
<ul>
    <li>{{#link-to 'browsers'}}Browsers{{/link-to}}</li>
    <li>{{#link-to 'features'}}Features{{/link-to}}</li>
</ul>
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="browsers">
{% raw %}
<h2>{{pagination.count}} Browsers</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>slug</th>
                <th>icon</th>
                <th>name</th>
                <th>note</th>
                <th>versions</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='browser'}}
            <tr>
                <td>{{id}}</td>
                <td><code>{{slug}}</code></td>
                <td>{{#if icon}}{{icon}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{name.en}}</td>
                <td>{{#if note}}{{note}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#link-to 'browser' id}}{{versionCountText}}{{/link-to}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more browsers...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more browsers...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Browsers Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="browser">
{% raw %}
<h2>{{name.en}} Browser</h2>
<p><em>{{#link-to 'browsers'}}back to Browsers{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Slug</dt>
  <dd><code>{{slug}}</code></dd>
  <dt>Icon</dt>
  <dd>{{#if icon}}{{icon}}{{else}}<em>none</em>{{/if}}</dd>
  <dt>Name</dt>
  <dd>{{name.en}}</dd>
  <dt>Note</dt>
  <dd>{{#if note}}{{note}}{{else}}<em>none</em>{{/if}}</dd>
</dl>

<h3>{{versionCountText}}</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>version</th>
                <th>release day</th>
                <th>retirement day</th>
                <th>status</th>
                <th>release notes URI</th>
                <th>note</th>
            </tr>
        </thead>
        <tbody>
          {{#each v in versions}}
          {{#with v}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'version' id}}{{#if version}}{{version}}{{else}}<em>unspecified</em>{{/if}}{{/link-to}}</td>
                <td>{{#if releaseDay}}{{releaseDay}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if retirementDay}}{{retirementDay}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{status}}</td>
                <td>{{#if releaseNoteUri}}{{releaseNoteUri}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if note}}{{note}}{{else}}<em>none</em>{{/if}}</td>
            </tr>
          {{/with}}
          {{/each}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="versions">
{% raw %}
<h2>{{pagination.count}} Versions</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>browser</th>
                <th>version</th>
                <th>release day</th>
                <th>retirement day</th>
                <th>status</th>
                <th>release notes URI</th>
                <th>note</th>
                <th>features with support info</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='version'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'browser' browser.id}}{{browser.name.en}}{{/link-to}}</td>
                <td>{{version}}</td>
                <td>{{#if release_day}}{{release_day}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if retirementDay}}{{retirementDay}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{status}}</td>
                <td>{{#if releaseNoteUri}}{{releaseNoteUri}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if note}}{{note}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#link-to 'version' id}}{{featureCountText}}{{/link-to}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more versions...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more versions...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Versions Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="version">
{% raw %}
<h2>{{browser.name.en}} {{#if version}}{{version}}{{else}}(unspecified version){{/if}}</h2>
<p><em>{{#link-to 'versions'}}back to Versions{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Browser</dt>
  <dd>{{#link-to 'browser' browser.id}}{{browser.name.en}}{{/link-to}}</td>
  <dt>Version</dt>
  <dd>{{#if version}}{{version}}{{else}}<em>unspecified</em>{{/if}}</dd>
  <dt>Release Day</dt>
  <dd>{{#if releaseDay}}{{releaseDay}}{{else}}<em>none</em>{{/if}}</dd>
  <dt>Retirement Day</dt>
  <dd>{{#if retirementDay}}{{retirementDay}}{{else}}<em>none</em>{{/if}}</dd>
  <dt>Status</dt>
  <dd>{{status}}</dd>
  <dt>Release Note URI</dt>
  <dd>{{#if releaseNoteUri}}{{releaseNoteUri}}{{else}}<em>none</em>{{/if}}</dd>
  <dt>Note</dt>
  <dd>{{#if note}}{{note}}{{else}}<em>none</em>{{/if}}</dd>
</dl>

<h3>{{featureCountText}}</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>feature</th>
                <th>supported</th>
                <th>prefix</th>
                <th>alternate name</th>
                <th>requires config</th>
                <th>note</th>
                <th>footnote</th>
            </tr>
        </thead>
        <tbody>
          {{#each s in supports}}
          {{#with s}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'feature' feature.id}}{{feature.slug}}{{/link-to}}</td>
                <td>{{support}}</td>
                <td>{{#if prefix}}<code>{{prefix}}</code>{{#unless prefix_mandatory}} <em>optional</em>{{/unless}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if alternate_name}}<code>{{prefix}}</code>{{#unless alternate_mandatory}} <em>optional</em>{{/unless}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if requires_config}}<code>{{requires_config}}</code> (default {{default_config}}){{else}}<em>none</em>{{/if}}</td>
                <td>{{#if note}}{{note.en}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if footnote}}{{footnote.en}}{{else}}<em>none</em>{{/if}}</td>
            </tr>
          {{/with}}
          {{/each}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>


<script type="text/x-handlebars" data-template-name="features">
{% raw %}
<h2>{{pagination.count}} Features</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>slug</th>
                <th>flags</th>
                <th>name</th>
                <th>on MDN</th>
                <th>versions with support info</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='feature'}}
            <tr>
                <td>{{id}}</td>
                <td><code>{{slug}}</code></td>
                <td>
                    {{#if experimental}}<b>experimental</b>{{/if}}
                    {{#unless standardized}}<b>not standardized</b>{{/unless}}
                    {{#unless stable}}<b>not stable</b>{{/unless}}
                    {{#if obsolete}}<b>obsolete</b>{{/if}}
                </td>
                <td>{{featureNameHTML}}</td>
                <!--<td>{{#if name.en}}{{name.en}}{{else}}{{#if name}}<code>{{name}}</code>{{else}}<em>none</em>{{/if}}{{/if}}</td>-->
                <td>{{#if mdn_path}}<a href="https://developer.mozilla.org/{{unbound mdn_path}}#Browser_compatibility">{{mdn_path}}</a>{{/if}}</td>
                <td>{{#link-to 'feature' id}}{{versionCountText}}{{/link-to}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more features...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more features...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Features Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="feature">
{% raw %}
<h2>Feature {{featureName}}</h2>
<p><em>{{#link-to 'features'}}back to Features{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Slug</dt>
  <dd><code>{{slug}}</code></dd>
  <dt>Experimental</dt>
  <dd>{{experimental}}</dd>
  <dt>Standardized</dt>
  <dd>{{standardized}}</dd>
  <dt>Stable</dt>
  <dd>{{stable}}</dd>
  <dt>Obsolete</dt>
  <dd>{{obsolete}}</dd>
  <dt>Name</dt>
  <dd>{{featureName}}</dd>
  <dt>MDN path</dt>
  <dd>{{#if mdn_path}}<a href="https://developer.mozilla.org/{{unbound mdn_path}}#Browser_compatibility">{{mdn_path}}</a>{{/if}}</dd>
</dl>

<h3>{{versionCountText}} with Support Info</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>version</th>
                <th>supported</th>
                <th>prefix</th>
                <th>alternate name</th>
                <th>requires config</th>
                <th>note</th>
                <th>footnote</th>
            </tr>
        </thead>
        <tbody>
          {{#each s in supports}}
          {{#with s}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'version' version.id}}{{version.browser.name.en}} {{version.version}}{{/link-to}}</td>
                <td>{{support}}</td>
                <td>{{#if prefix}}<code>{{prefix}}</code>{{#unless prefix_mandatory}} <em>optional</em>{{/unless}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if alternate_name}}<code>{{prefix}}</code>{{#unless alternate_mandatory}} <em>optional</em>{{/unless}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if requires_config}}<code>{{requires_config}}</code> (default {{default_config}}){{else}}<em>none</em>{{/if}}</td>
                <td>{{#if note}}{{note.en}}{{else}}<em>none</em>{{/if}}</td>
                <td>{{#if footnote}}{{footnote.en}}{{else}}<em>none</em>{{/if}}</td>
            </tr>
          {{/with}}
          {{/each}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>

{%- endblock body_container %}

{% block body_js_extra %}
<script src="{{ static('vendor/ember-1.7.0/handlebars-v1.3.0.js')}}"></script>
<script src="{{ static('vendor/ember-1.7.0/ember.js')}}"></script>
<script src="{{ static('vendor/ember-data-1.0.0-beta.9/ember-data.js')}}"></script>
<script src="{{ static('vendor/ember-json-api-1.0-beta.3/json_api_adapter.js')}}"></script>
<script src="{{ static('js/browse.js') }}"></script>
{% endblock %}
