{% extends "webplatformcompat/base.jinja2" %}

{% block head_title %}Browse Web Platform Compatability Data{% endblock %}

{% block body_container %}
<script type="text/x-handlebars">
<div class="container">
    <header>
      <h1>Browse Web Platform Compatability Data</h1>
    </header>
    {{ '{{outlet}}' }}
    <hr>
    <footer>
        <p>© Mozilla 2014</p>
    </footer>
</div>
</script>

<script type="text/x-handlebars" data-template-name="index">
{% raw %}
<p>
    This is an application to view Web Platform Compatability Data.
</p>
<p>
    The following is available:
</p>
<ul>
    <li>{{#link-to 'browsers'}}Browsers{{/link-to}}</li>
    <li>{{#link-to 'versions'}}Versions{{/link-to}}</li>
    <li>{{#link-to 'features'}}Features{{/link-to}}</li>
    <li>{{#link-to 'supports'}}Supports{{/link-to}}</li>
    <li>{{#link-to 'specifications'}}Specifications{{/link-to}}</li>
    <li>{{#link-to 'maturities'}}Specification Maturities{{/link-to}}</li>
</ul>
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="browsers">
{% raw %}
<h2>{{pagination.count}} Browsers</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Slug</th>
                <th>Name</th>
                <th>Note</th>
                <th>Versions</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='browser'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'browser' id}}{{slug}}{{/link-to}}</td>
                <td>{{{nameDefaultHTML}}}</td>
                <td>{{{noteDefaultHTML}}}</td>
                <td>{{{versionCountText}}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more browsers...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more browsers...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Browsers Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="browser">
{% raw %}
<h2>{{{nameDefaultHTML}}} Browser</h2>
<p><em>back to {{#link-to 'browsers'}}Browsers{{/link-to}}, {{#link-to 'index'}}Index{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Slug</dt>
  <dd><code>{{slug}}</code></dd>
  <dt>Name</dt>
  <dd>{{{nameListHTML}}}</dd>
  <dt>Note</dt>
  <dd>{{{noteListHTML}}}</dd>
</dl>

<h3>{{versionCountText}} for this Browser</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Version</th>
                <th>Release Day</th>
                <th>Retirement Day</th>
                <th>Status</th>
                <th>Release Notes URI</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {{#if versionCount}}
          {{#each versions itemController='version'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'version' id}}{{{versionHTML}}}{{/link-to}}</td>
                <td>{{{releaseDayHTML}}}</td>
                <td>{{{retirementDayHTML}}}</td>
                <td>{{status}}</td>
                <td>{{{releaseNoteUriDefaultHTML}}}</td>
                <td>{{{noteDefaultHTML}}}</td>
            </tr>
          {{else}}
            <tr><td rowspan=0><em>Loading {{versionCountText}}...</em></td></tr>
          {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="versions">
{% raw %}
<h2>{{pagination.count}} Versions</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Version</th>
                <th>Release Day</th>
                <th>Retirement Day</th>
                <th>Status</th>
                <th>Release Notes URI</th>
                <th>Note</th>
                <th>Related Features</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='version'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'version' id}}{{{fullVersionHTML}}}{{/link-to}}</td>
                <td>{{{releaseDayHTML}}}</td>
                <td>{{{retirementDayHTML}}}</td>
                <td>{{status}}</td>
                <td>{{{releaseNoteUriDefaultHTML}}}</td>
                <td>{{{noteDefaultHTML}}}</td>
                <td>{{#link-to 'version' id}}{{featureCountText}}{{/link-to}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more versions...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more versions...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Versions Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="version">
{% raw %}
<h2>{{{fullVersionHTML}}}</h2>
<p><em>back to {{#link-to 'versions'}}Versions{{/link-to}}, {{#link-to 'index'}}Index{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Browser</dt>
  <dd>{{#link-to 'browser' browser.id}}{{browser.name.en}}{{/link-to}}</td>
  <dt>Version</dt>
  <dd>{{{versionHTML}}}</dd>
  <dt>Release Day</dt>
  <dd>{{{releaseDayHTML}}}</dd>
  <dt>Retirement Day</dt>
  <dd>{{{retirementDayHTML}}}</dd>
  <dt>Status</dt>
  <dd>{{status}}</dd>
  <dt>Release Note URI</dt>
  <dd>{{{releaseNoteUriListHTML}}}</dd>
  <dt>Note</dt>
  <dd>{{{noteListHTML}}}</dd>
</dl>

<h3>{{featureCountText}} with Support Info</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Feature</th>
                <th>Supported</th>
                <th>Prefix</th>
                <th>Alternate Name</th>
                <th>Config</th>
                <th>Protected</th>
                <th>Note</th>
                <th>Footnote</th>
            </tr>
        </thead>
        <tbody>
        {{#if featureCount}}
          {{#each supports itemController='support'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'feature' feature.id}}{{feature.slug}}{{/link-to}}</td>
                <td>{{support}}</td>
                <td>{{{prefixHTML}}}</td>
                <td>{{{alternateNameHTML}}}</td>
                <td>{{{requiredConfigHTML}}}</td>
                <td>{{{protected}}}</td>
                <td>{{{noteDefaultHTML}}}</td>
                <td>{{{footnoteDefaultHTML}}}</td>
            </tr>
          {{else}}
            <tr><td rowspan=0><em>Loading {{featureCountText}}...</em></td></tr>
          {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>


<script type="text/x-handlebars" data-template-name="features">
{% raw %}
<h2>{{pagination.count}} Features</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Slug</th>
                <th>Flags</th>
                <th>Name</th>
                <th>MDN Link</th>
                <th>Related Versions</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='feature'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'feature' id}}{{slug}}{{/link-to}}</td>
                <td>{{{flagsHTML}}}</td>
                <td>{{{nameDefaultHTML}}}</td>
                <td>{{{mdnDefaultHTML}}}</td>
                <td>{{versionCountText}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more features...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more features...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Features Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="feature">
{% raw %}
<h2>Feature {{{nameDefaultHTML}}}</h2>
<p><em>back to {{#link-to 'features'}}Features{{/link-to}}, {{#link-to 'index'}}Index{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Slug</dt>
  <dd><code>{{slug}}</code></dd>
  <dt>Experimental</dt>
  <dd>{{experimental}}</dd>
  <dt>Standardized</dt>
  <dd>{{standardized}}</dd>
  <dt>Stable</dt>
  <dd>{{stable}}</dd>
  <dt>Obsolete</dt>
  <dd>{{obsolete}}</dd>
  <dt>Name</dt>
  <dd>{{{nameListHTML}}}</dd>
  <dt>MDN URI</dt>
  <dd>{{{mdnListHTML}}}</dd>
  <dt>Parent Feature</dt>
  <dd>{{#if parent}}{{#with parent controller='feature'}}{{#link-to 'feature' id}}{{{nameDefaultHTML}}}{{/link-to}}{{/with}}{{else}}<em>No Parent</em>{{/if}}</dd>
  <dt>Child Features</dt>
  <dd>
    {{#if childCount}}
      {{#if children}}
      <ul>
        {{#each children itemController='feature'}}<li>{{#link-to 'feature' id}}{{{nameDefaultHTML}}}{{/link-to}}</li>{{/each}}
      </ul>
      {{else}}
      <em>Loading {{childCountText}}...</em>
      {{/if}}
    {{else}}
      <em>No children</em>
    {{/if}}
  </dd>
</dl>

<h3>{{versionCountText}} with Support Info</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Version</th>
                <th>Supported</th>
                <th>Prefix</th>
                <th>Alternate Name</th>
                <th>Requires Config</th>
                <th>Protected</th>
                <th>Note</th>
                <th>Footnote</th>
            </tr>
        </thead>
        <tbody>
        {{#if versionCount}}
          {{#each supports itemController='support'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#with version controller='version'}}{{#link-to 'version' id}}{{{fullVersionHTML}}}{{/link-to}}{{/with}}</td>
                <td>{{support}}</td>
                <td>{{{prefixHTML}}}</td>
                <td>{{{alternateNameHTML}}}</td>
                <td>{{{requiredConfigHTML}}}</td>
                <td>{{protected}}</td>
                <td>{{{noteDefaultHTML}}}</td>
                <td>{{{footnoteDefaultHTML}}}</td>
            </tr>
          {{else}}
            <tr><td rowspan=0><em>Loading {{versionCountText}}...</em></td></tr>
          {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="supports">
{% raw %}
<h2>{{pagination.count}} Supports</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Support</th>
                <th>Version</th>
                <th>Feature</th>
                <th>Prefix</th>
                <th>Alternate Name</th>
                <th>Required Config</th>
                <th>Protected</th>
                <th>Note</th>
                <th>Footnote</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='support'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'support' id}}{{support}}{{/link-to}}</td>
                <td>{{#with version controller='version'}}{{{fullVersionHTML}}}{{/with}}</td>
                <td>{{#with feature controller='feature'}}{{{nameDefaultHTML}}}{{/with}}</td>
                <th>{{{prefixHTML}}}</th>
                <th>{{{alternateNameHTML}}}</th>
                <th>{{{requiredConfigHTML}}}</th>
                <th>{{protected}}</th>
                <th>{{{noteDefaultHTML}}}</th>
                <th>{{{footnoteDefaultHTML}}}</th>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more supports...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more supports...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Supports Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="support">
{% raw %}
<h2>Support {{supportName}}</h2>
<p><em>back to {{#link-to 'supports'}}Supports{{/link-to}}, {{#link-to 'index'}}Index{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Support</dt>
  <dd>{{support}}</dd>
  <dt>Version</dt>
  <dd>{{#with version controller='version'}}{{#link-to 'version' id}}{{{fullVersionHTML}}}{{/link-to}}{{/with}}</td>
  <dt>Feature</dt>
  <dd>{{#with feature controller='feature'}}{{#link-to 'feature' id}}{{{nameDefaultHTML}}}{{/link-to}}{{/with}}</td>
  <dt>Prefix</dt>
  <dd>{{{prefixHTML}}}</dd>
  <dt>Alternate Name</dt>
  <dd>{{{alternateNameHTML}}}</dd>
  <dt>Required Config</dt>
  <dd>{{{requiredConfigHTML}}}</dd>
  <dt>Protected</dt>
  <dd>{{{protected}}}</dd>
  <dt>Note</dt>
  <dd>{{{noteListHTML}}}</dd>
  <dt>Footnote</dt>
  <dd>{{{footnoteListHTML}}}</dd>
</dl>
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="specifications">
{% raw %}
<h2>{{pagination.count}} Specifications</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Slug</th>
                <th>MDN key</th>
                <th>Specification URI</th>
                <th>Maturity</th>
                <th>Sections</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='specification'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'specification' id}}{{slug}}{{/link-to}}</td>
                <td><code>{{mdn_key}}</code></td>
                <td>{{{uriDefaultHTML}}}</td>
                <td>{{#link-to 'maturity' maturity.id}}{{{maturity.name.en}}}{{/link-to}}</td>
                <td>{{sectionCount}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more specifications...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more specifications...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Specifications Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="specification">
{% raw %}
<h2>Specification {{name.en}}</h2>
<p><em>back to {{#link-to 'specifications'}}Specifications{{/link-to}}, {{#link-to 'index'}}Index{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Slug</dt>
  <dd><code>{{slug}}</code></dd>
  <dt>MDN key</dt>
  <dd><code>{{mdn_key}}</code></dd>
  <dt>Specification URI</dt>
  <dd>{{{uriListHTML}}}</dd>
  <dt>Maturity</dt>
  <dd>{{#link-to 'maturity' maturity.id}}{{maturity.name.en}}{{/link-to}}</dd>
</dl>

<h3>{{sectionCountText}} in this Specification</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>subpath</th>
                <th>note</th>
            </tr>
        </thead>
        <tbody>
        {{#if sectionCount}}
          {{#each sections}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'section' id}}{{number}} {{{name.en}}}{{/link-to}}</td>
                <td><a {{bind-attr href=fullPath}}>{{subpath}}</a></td>
                <td>{{#if note}}{{note.en}}{{else}}<em>none</em>{{/if}}</td>
            </tr>
          {{else}}
            <tr><td rowspan=0><em>Loading {{sectionCountText}}...</em></td></tr>
          {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="maturities">
{% raw %}
<h2>{{pagination.count}} Maturities</h2>
<p><em>{{#link-to 'index'}}back to Index{{/link-to}}</em></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Slug</th>
                <th>Maturity</th>
                <th>Specifications</th>
            </tr>
        </thead>
        <tbody>
          {{#each itemController='maturity'}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'maturity' id}}{{slug}}{{/link-to}}</td>
                <td>{{{nameDefaultHTML}}}</td>
                <td>{{specCountText}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{#if canLoadMore }}
<button type="button" class="btn btn-default" {{action 'loadMore'}}>Load more maturities...</button>
{{else}}{{#if loading}}
<button type="button" class="btn btn-default" disabled="disabled">Loading more maturities...</button>
{{else}}
<button type="button" class="btn btn-default" disabled="disabled">All Maturities Loaded.</button>
{{/if}}{{/if}}
{% endraw %}
</script>

<script type="text/x-handlebars" data-template-name="maturity">
{% raw %}
<h2>Maturity {{name.en}}</h2>
<p><em>back to {{#link-to 'maturities'}}Maturities{{/link-to}}, {{#link-to 'index'}}Index{{/link-to}}</em></p>
<dl>
  <dt>Id</dt>
  <dd>{{id}}</dd>
  <dt>Slug</dt>
  <dd><code>{{slug}}</code></dd>
  <dt>Name</dt>
  <dd>{{{namesListHTML}}}</dd>
</dl>

<h3>{{specCountText}} with this maturity</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>slug</th>
                <th>MDN key</th>
                <th>Specification URI</th>
            </tr>
        </thead>
        <tbody>
        {{#if specCount}}
          {{#each specifications}}
            <tr>
                <td>{{id}}</td>
                <td>{{#link-to 'specification' id}}{{slug}}{{/link-to}}</td>
                <td><code>{{mdn_key}}</code></td>
                <td><a {{bind-attr href=uri.en}}>{{{name.en}}}</a></td>
            </tr>
          {{else}}
            <tr><td rowspan=0><em>Loading {{specCountText}}...</em></td></tr>
          {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
{% endraw %}
</script>
{%- endblock body_container %}

{% block body_js_extra %}
<script src="{{ static('vendor/ember-1.7.0/handlebars-v1.3.0.js')}}"></script>
<script src="{{ static('vendor/ember-1.7.0/ember.js')}}"></script>
<script src="{{ static('vendor/ember-data-1.0.0-beta.9/ember-data.js')}}"></script>
<script src="{{ static('vendor/ember-json-api-1.0-beta.3/json_api_adapter.js')}}"></script>
<script src="{{ static('js/browse.js') }}"></script>
{% endblock %}
