<section class="webplatformcompat-feature" lang="{{lang}}" data-type="{{data['type']}}" data-id="{{data['id']}}">
<h2>Specifications</h2>
{% if data['links']['sections'] %}
<table class="specifications-table">
  <thead>
    <tr>
      <th>Specification</th>
      <th>Status</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
  {%- for section_id in data['links']['sections'] %}
    {%- set section = collection['sections'][section_id] %}
    {%- set spec = collection['specifications'][section['links']['specification']] %}
    {%- set maturity = collection['maturities'][spec['links']['maturity']] %}
    {%- set mat_class = "maturity-" ~ maturity.slug %}

    <tr>
      <td>
        <a href="{{trans_str(spec.uri) ~ trans_str(section.subpath)}}">
          {{trans_span(spec.name)}}
          <br>
          <small>{{trans_span(section.name)}}</small>
        </a>
      </td>
      <td>
        {{trans_span(maturity.name, class=mat_class)}}
      </td>
      <td>
        {%- if section.note %}
        {{trans_span(section.note)}}
        {% endif %}

      </td>
    </tr>
  {%- endfor %}

  </tbody>
</table>
{% else %}

<i>No specifications</i>
{% endif %}

<h2>Browser compatability</h2>
{%- set footnotes = [] %}
{%- for tab in meta['compat_table']['tabs'] %}


<h3>{{trans_str(tab['name'])}}</h3>
<table class="compat-table">
  <tbody>
    <tr>
      <th>Feature</th>
      {%- for browser_id in tab['browsers'] %}
      {%- set browser = collection['browsers'][browser_id] %}

      <th>{{trans_span(browser.name)}}</th>
      {%- endfor %}

    </tr>
    {%- for feature_id, browser_map in meta['compat_table']['supports'].items() %}
    {%- if feature_id != data['id'] %}
    {%- set feature = collection['features'][feature_id] %}

    <tr>
      <td>{{trans_span(feature.name)}}</td>
      {%- for browser_id in tab['browsers'] %}
        {%- set browser = collection['browsers'][browser_id] %}
        {%- set supports = browser_map[browser_id] %}

      <td>
        {%- for support_id in supports %}
          {%- set support = collection['supports'][support_id] %}
          {%- set version_id = support['links']['version'] %}
          {%- set version = collection['versions'][version_id] %}
          {%- if not loop.first %}<br>{% endif %}
          {%- if version.version %}

        {{ version.version }}{% if support.support != 'yes'%} ({{support.support}}){% endif %}
          {%- else %}

        ({{ support.support }})
          {%- endif %}
          {%- if support.prefix and support.prefix_mandatory %}

        <code>{{support.prefix}}</code>
          {%- endif %}
          {%- if support.note %}

        <br>({{support.note}})
          {%- endif %}
          {%- if support.footnote %}
            {%- set footnum = meta['compat_table']['footnotes'][support_id] %}
            [<a
              id="browsercompat-{{data['id']}}-footnote-{{footnum}}-back"
              href="#browsercompat-{{data['id']}}-footnote-{{footnum}}">{{footnum}}</a>]
          {%- endif %}
        {%- else %}

        ?
        {%- endfor %}

      </td>
      {%- endfor %}

    </tr>
    {%- endif %}
    {%- endfor %}

  </tbody>
</table>
{%- else %}
<i>No compatability data</i>

{%- endfor %}

{%- for support_id, footnum in meta['compat_table']['footnotes'] | dictsort(by='value') %}
{%- set support=collection['supports'][support_id] %}
<p id="browsercompat-{{data['id']}}-footnote-{{footnum}}">
  <a href="#browsercompat-{{data['id']}}-footnote-{{footnum}}-back">[{{footnum}}]</a>
  {{trans_span(support.footnote)}}
</p>
{% endfor %}

</section>
<section class="webplatformcompat-feature-meta" lang="{{lang}}">
<p><em>Showing language "{{lang}}". Other languages:</em></p>
<ul>
{% for l in meta['compat_table']['languages'] %}
  <li><a href="/api/v1/view_features/{{data['id']}}?format=html&lang={{l}}">{{l}}</a></li>
{% endfor %}
</ul>

{%- set pagination =  meta['compat_table']['pagination']['linked.features'] %}
{%- if pagination['next'] or pagination['previous'] %}
<p>{{pagination['count']}} features total (
{%- if pagination['previous'] %}<a href="{{pagination['previous']}}">previous page</a>{% endif%}
{%- if pagination['next'] and pagination['previous'] %}, {% endif %}
{%- if pagination['next'] %}<a href="{{pagination['next']}}">next page</a>{% endif %}).
{%- endif %}

</section>
{#
<pre>meta: {{meta|pprint}}</pre>
<pre>features: {{features|pprint}}</pre>
<pre>collection: {{collection|pprint}}</pre>
<pre>language: {{lang}}</pre>
#}
