{% extends "webplatformcompat/base.jinja2" %}
{% block title %}Web Platform Compatibility API - Profile for {{user_display(user)}}{% endblock %}

{% block body_title %}Profile for {{user_display(user)}}{% endblock %}

{% block content %}
<p>
    This is the profile for {{user_display(user)}}.
</p>
{% endblock %}
