{% extends "webplatformcompat/base.html" %}
{% block title %}Browser Compatibility API - About{% endblock %}

{% block head_title %}About the Browser Compatibility API{% endblock %}
{% block body_title %}About the Browser Compatibility API{% endblock %}

{% block content %}
<p>
    The <strong>browsercompat</strong> project is a part of a long process
    to improve the quality of compatibility data on the web.
</p><p>
    The <a href="https://developer.mozilla.org/">Mozilla Developer Network</a>
    (MDN) hosts a huge amount of documentation of web technologies, including
    browser compatibility tables, such as data about the
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/display#Browser_compatibility">CSS display property</a>.
    This data is maintained by the MDN community to keep it accurate and
    up-to-date.  These hand-written tables are useful for developers, but are
    challenging to maintain, hard to sync across translations, and are
    unsuitable as a data source for scripts or alternate displays.
</p><p>
    In December 2013, Mozilla began planning for a significat update to the
    technology used to maintain the compatibility tables.
    In June 2014, work started on the <strong>browsercompat</strong>
    project, to define the data schema, build a data store, and provide an API
    for reading and contributing compatibility data.  In February 2015, the
    service began extracting data from MDN pages.  Later this year, MDN will
    start displaying compatibility data from the API, and new data
    contributions will be made to the service rather than as MDN page edits.
</p><p>
    Some useful links:
</p>
<ul>
    <li>
    <a href="https://wiki.mozilla.org/MDN/Development/CompatibilityTables">CompatibilityTables on the Mozilla Wiki</a>
    - Project plan for the compatibility tables technology project.</li>
    <li>
    <a href="https://github.com/mdn/browsercompat">browsercompat on Github</a>
        - This is the primary code repository during development.</li>
    <li>
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=996570">Bugzilla bug 996570</a>
        - The tracking bug for the browsercompat project.</li>
</ul>
{% endblock %}
