<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock head_meta %}
    <title>{% block head_title %}TODO: set block head_title{% endblock %}</title>

    {% block head_css %}
    <link href="{{ static('vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static('vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ static('css/webplatformcompat.css') }}" rel="stylesheet">
    {% endblock head_css %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {%- block head_extra %}{% endblock %}
  </head>
  <body{% block body_attr%}{% endblock %}>
    {%- block navbar %}
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url('home')}}">browsercompat</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{% if request.path.startswith(url('about')) %} class="active"{% endif %}>
              <a href="{{url('about')}}">About</a></li>
            <li{% if request.path.startswith(url('api')) %} class="active"{% endif %}>
              <a href="{{url('api')}}">API</a></li>
            <li{% if request.path.startswith(url('browse')) %} class="active"{% endif %}>
              <a href="{{url('browse')}}">Browse</a></li>
            <li{% if request.path.startswith(url('feature_page_list')) %} class="active"{% endif %}>
              <a href="{{url('feature_page_list')}}">Importer</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li{% if request.path.startswith('/accounts/') %} class="active"{% endif %}>
              {% if request.user.is_authenticated() %}
              <span class="navbar-text">Signed in as
                <a class="navbar-link" href="{{url('account_profile')}}">{{user_display(request.user)}}</a>
                <a class="navbar-link" href="{{url('account_logout')}}">(Sign Out)</a>
              {% else %}
              <a class="navbar-link" href="{{url('account_login')}}">Sign In or Create Account</a>
              {% endif %}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock navbar %}
    {%- block body_container -%}
    <div class="container">
        {% block body_title_elem -%}
        <h1 id="body_title">{% block body_title %}TODO: set block body_title{% endblock %}</h1>
        {%- endblock body_title_elem %}
        {% block quick_nav %}{% endblock %}
        {% block messages %}
          {% set messages = get_messages(request) %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
            </div>
            {% endfor %}
          {% endif %}
        {% endblock messages %}
        {% block content %}{% endblock %}
        {% block footer_elem %}
        <footer>
            <p>{% block footer %}© 2014 - {{current_year()}} Mozilla{% endblock footer %}</p>
        </footer>
        {% endblock footer_elem %}
    </div>
    {%- endblock body_container %}

    {% block body_js -%}
    <script src="{{ static('vendor/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ static('vendor/bootstrap-3.2.0-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ static('js/webplatformcompat.js') }}"></script>
    {%- block body_js_extra %}{% endblock %}
    {%- endblock body_js %}
  </body>
</html>
