{% extends "webplatformcompat/base.html" %}
{% block head_title %}Browse Compatibility Data{% endblock %}

{% block body_container %}
<script type="text/x-handlebars">
<div class="container">
    <header>
      <h1>Browse Compatibility Data</h1>
    </header>
    {{ '{{outlet}}' }}
    <footer>
        <p>Built on <a href="http://emberjs.com/">Ember.js</a>.  © 2014 - {{current_year()}} Mozilla</p>
    </footer>
</div>
</script>

<script type="text/x-handlebars" data-template-name="index">
<p>
    This is an application to view Browser Compatibility Data.
</p>
<p>
    The following is available:
</p>
<ul>
    {% for name in model_order -%}
    <li>{{ "{{#link-to '%s'}}%s{{/link-to}}" | format(name, models[name].get('title', name.title())) | safe }}</li>
    {% endfor -%}
</ul>
</script>

{% for name in model_order -%}
{{ index_page(name, models) }}
{{ detail_page(name, models) }}
{% endfor -%}
{%- endblock body_container %}

{% block body_js_extra %}
<script src="{{ static('vendor/ember-1.7.0/handlebars-v1.3.0.js')}}"></script>
<script src="{{ static('vendor/ember-1.7.0/ember.js')}}"></script>
<script src="{{ static('vendor/ember-data-1.0.0-beta.9/ember-data.js')}}"></script>
<script src="{{ static('vendor/ember-json-api-1.0-beta.3/json_api_adapter.js')}}"></script>
<script src="{{ static('js/browse.js') }}"></script>
{% endblock %}

{#
 # Define the models and their attributes
 #}

{% set model_order = [
    'browsers',
    'versions',
    'features',
    'supports',
    'specifications',
    'sections',
    'references',
    'maturities',
    'users',
    'changesets',
    ] -%}
{% set models = {
   'browsers': {
        'detail_title': '{{{nameDefaultHTML}}} Browser',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Slug', 'property': 'slug', 'link': 'browser',
                'code': True},
            {'name': 'Name', 'property': 'nameDefaultHTML',
                'detail': 'nameListHTML'},
            {'name': 'Note', 'property': 'noteDefaultHTML',
                'detail': 'noteDefaultHTML'},
            {'name': 'Versions', 'property': 'versionCountText',
                'omit': ['browser']},
        ],
        'related': [
            {'name': 'versions',
                'title': '{{versionCountText}} for {{nameDefaultHTML}}'},
        ]},
    'versions': {
        'detail_title': '{{{fullVersionHTML}}}',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Browser', 'property': 'browser.name.en',
                'link': 'browser', 'linkid': 'browser.id',
                'omit': ['browser', 'versions']},
            {'name': 'Version', 'property': 'versionHTML',
                'link': 'version', 'omit': ['version', 'versions']},
            {'name': 'Version', 'property': 'fullVersionHTML',
                'detail': 'versionHTML', 'link': 'version',
                'omit': ['browser']},
            {'name': 'Release Day', 'property': 'releaseDayHTML'},
            {'name': 'Retirement Day',
                'property': 'retirementDayHTML'},
            {'name': 'Status', 'property': 'status'},
            {'name': 'Release Notes URI',
                'property': 'releaseNoteUriDefaultHTML',
                'detail': 'releaseNoteUriListHTML'},
            {'name': 'Note', 'property': 'noteDefaultHTML',
                'detail': 'noteListHTML'},
            {'name': 'Related Features',
                'property': 'supportCountText', 'omit': ['version']},
        ],
        'related': [
            {'name': 'supports',
                'title': '{{supportCountText}} with Support Info'},
        ]},
    'features': {
        'detail_title': 'Feature {{{nameDefaultHTML}}}',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Slug', 'property': 'slug', 'link': 'feature',
                'code': True},
            {'name': 'Name', 'property': 'nameDefaultHTML',
                'detail': 'nameListHTML'},
            {'name': 'Experimental', 'property': 'experimental',
                'omit': ['features', 'section']},
            {'name': 'Standardized', 'property': 'standardized',
                'omit': ['features', 'section']},
            {'name': 'Stable', 'property': 'stable',
                'omit': ['features', 'section']},
            {'name': 'Obsolete', 'property': 'obsolete',
                'omit': ['features', 'section']},
            {'name': 'MDN URI', 'property': 'mdnDefaultHTML',
                'detail': 'mdnListHTML'},
            {'name': 'Flags', 'property': 'flagsHTML',
                'omit': ['feature']},
            {'name': 'Related Versions',
                'property': 'supportCountText', 'omit': ['feature']},
        ],
        'related': [
            {'name': 'supports',
                'title': '{{supportCountText}} with Support Info'},
            {'name': 'references',
                'title': '{{referenceCountText}}'},
        ],
        'detail_hack_nav': (
            '<p class="lead"><strong><a {{bind-attr href=viewUrl}}>'
            'View this feature with related data</a>.</strong></p>'),
        'detail_hack_data': [
            {'name': 'Parent Feature', 'raw': """
                {{#if parent}}
                {{#with parent controller='feature'}}
                    {{#link-to 'feature' id}}
                    {{{nameDefaultHTML}}}
                    {{/link-to}}
                {{/with}}
                {{else}}
                <em>No Parent</em>
                {{/if}}"""},
            {'name': 'Child Feature', 'raw': """
                {{#if childCount}}
                {{#if children}}
                    <ul>
                    {{#each children itemController='feature'}}<li>
                        {{#link-to 'feature' id}}{{{nameDefaultHTML}}}{{/link-to}}
                    </li>{{/each}}
                    </ul>
                {{else}}
                    <em>Loading {{childCountText}}...</em>
                {{/if}}
                {{else}}
                    <em>No children</em>
                {{/if}}"""},
        ]},
    'supports': {
        'detail_title': 'Support Details',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Supported?', 'property': 'support',
                'link': 'support', 'omit': ['version', 'feature']},
            {'name': 'Version', 'property': 'fullVersionHTML',
                'with': 'version', 'link': 'version',
                'linkid': 'version.id', 'omit': ['supports', 'version']},
            {'name': 'Version', 'property': 'fullVersionHTML',
                'with': 'version',
                'omit': ['support', 'version', 'feature']},
            {'name': 'Feature', 'property': 'feature.slug',
                'link': 'feature', 'linkid': 'feature.id',
                'omit': ['supports', 'feature']},
            {'name': 'Feature', 'property': 'feature.slug',
                'omit': ['support', 'version', 'feature']},
            {'name': 'Supported?', 'property': 'support',
                'omit': ['supports', 'support']},
            {'name': 'Prefix', 'property': 'prefixHTML'},
            {'name': 'Alternate Name',
                'property': 'alternateNameHTML'},
            {'name': 'Required Config',
                'property': 'requiredConfigHTML'},
            {'name': 'Protected', 'property': 'protected'},
            {'name': 'Note', 'property': 'noteDefaultHTML'},
        ]},
    'specifications': {
        'detail_title': '{{{nameDefaultHTML}}} Specification',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Name', 'property': 'nameDefaultHTML',
                'detail': 'nameListHTML', 'link': 'specification'},
            {'name': 'Slug', 'property': 'slug', 'code': True},
            {'name': 'MDN key', 'property': 'mdn_key', 'code': True},
            {'name': 'Specification URI',
                'property': 'uriDefaultHTML', 'detail': 'uriListHTML',
                'omit': ['maturity']},
            {'name': 'Maturity', 'property': 'maturity.name.en',
                'html': True, 'link': 'maturity',
                'linkid': 'maturity.id', 'omit': ['maturity']},
            {'name': 'Sections', 'property': 'sectionCountText',
                'omit': ['specification']},
        ],
        'related': [
            {'name': 'sections',
                'title': '{{sectionCountText}} in this Specification'},
        ]},
    'sections': {
        'detail_title': 'Section "{{{nameDefaultHTML}}}"',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Name', 'property': 'nameDefaultHTML',
                'detail': 'nameListHTML', 'link': 'section'},
            {'name': 'Subpath', 'property': 'subpathDefaultHTML',
                'detail': 'subpathListHTML'},
            {'name': 'Specification',
                'property': 'nameDefaultHTML',
                'with': 'specification', 'link': 'specification'},
            {'name': 'References', 'property': 'referenceCountText'},
        ],
        'related': [
            {'name': 'references',
                'title': '{{referenceCountText}} for this Section'},
        ]},
    'references': {
        'detail_title': 'Reference "{{{nameDefaultHTML}}}"',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Feature', 'property': 'nameDefaultHTML',
                'with': 'feature', 'link': 'feature',
                'omit': ['feature']},
            {'name': 'Section',
                'property': 'nameDefaultHTML',
                'with': 'section', 'link': 'section',
                'omit': ['section']},
            {'name': 'Note', 'property': 'noteDefaultHTML',
                'detail': 'noteListHTML'},
        ]},
    'maturities': {
        'singular': 'maturity',
        'title': 'Specification Maturities',
        'detail_title': 'Maturity "{{{nameDefaultHTML}}}"',
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Slug', 'property': 'slug',
                'link': 'maturity', 'code': True},
            {'name': 'Name', 'property': 'nameDefaultHTML',
                'detail': 'nameListHTML'},
            {'name': 'Specifications', 'property': 'specCountText',
                'omit': ['maturity']},
        ],
        'related': [
            {'name': 'specifications',
                'title': '{{specCountText}} with this maturity'},
        ]},
    'users': {
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Username', 'property': 'username',
                'link': 'user'},
            {'name': 'Created', 'property': 'createdHTML'},
            {'name': 'Permissions', 'property': 'permissionsText'},
            {'name': 'Changesets', 'property': 'changesetCount'},
        ],
        'related': [
            {'name': 'changesets',
                'title': '{{changesetCountText}} by this user'},
        ]},
    'changesets': {
        'data': [
            {'name': 'Id', 'property': 'id'},
            {'name': 'Target Resource', 'property': 'targetHTML',
                'link': 'changeset'},
            {'name': 'Created', 'property': 'createdHTML'},
            {'name': 'Modified', 'property': 'modifiedHTML'},
            {'name': 'Closed?', 'property': 'closedText'},
            {'name': 'User', 'property': 'user.username',
                'link': 'user', 'linkid': 'user.id', 'omit': ['user']},
        ]},
    }
-%}

{#
 # Define the macros for generating Ember's Handlebar templates
 #}

{# Display the "Load more X" button, with loading states #}
{% macro load_more(name) -%}
{{ "{{#if canLoadMore }}" | safe }}
<button type="button" class="btn btn-default" {{ "{{action 'loadMore'}}" | safe }}>Load more {{name | lower}}...</button>
{{ "{{else}}{{#if loading}}" | safe }}
<button type="button" class="btn btn-default" disabled="disabled">Loading more {{name | lower}}...</button>
{{ "{{else}}" | safe }}
<button type="button" class="btn btn-default" disabled="disabled">All {{name | title}} Loaded.</button>
{{ "{{/if}}{{/if}}" }}
{% endmacro %}

{# Display a bound property on a Ember controller #}
{% macro display(obj, view, detail=False) -%}
{% if obj.get('with') -%}{{ "{{#with %s controller='%s'}}" | format(obj['with'], obj['with']) | safe }}{% endif -%}
{% if obj.get('link') and obj['link'] != view -%}{{ "{{#link-to '%s' %s}}" | format(obj['link'], obj.get('linkid', 'id')) | safe }}
  {%- elif obj.get('code') -%}<code>{% endif -%}
{% if obj.get('html') or obj['property'].endswith('HTML') -%}{{ "{{{" }}{% else -%}{{ "{{" }}{% endif -%}
{% if detail and 'detail' in obj %}{{ obj['detail'] }}{% else %}{{ obj['property'] }}{% endif %}
{%- if obj.get('html') or obj['property'].endswith('HTML') -%}{{ "}}}" }}{% else -%}{{ "}}" }}{% endif -%}
{% if obj.get('link') and obj['link'] != view -%}{{ "{{/link-to}}" }}
  {%- elif obj.get('code') -%}</code>{% endif -%}
{% if obj.get('with') -%}{{ "{{/with}}" }}{% endif -%}
{% endmacro %}

{# Display a summary table #}
{% macro summary_table(name, model, view, through=None, as_related=False) -%}
{% set singular = model.get('singular', name[:-1]) %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                {% for item in model['data'] -%}
                <!-- {{item['name']}} {{item.get('omit', '(no omit)')}} {{view}} -->
                {% if view not in item.get('omit', []) -%}
                <th>{% if item['name'] == 'Id' %}#{% else %}{{item['name']}}{% endif %}</th>
                {% endif -%}
                {% endfor -%}
            </tr>
        </thead>
        <tbody>
        {% if as_related -%}
        {{ "{{#if %sCount}}" | format(singular) }}
          {% if through -%}
          {{ "{{#each %s itemController='%s'}}" | format(*through) | safe }}
          {% else -%}
          {{ "{{#each %s itemController='%s'}}" | format(name, singular) | safe }}
          {% endif -%}
        {% else -%}
          {{ "{{#each itemController='%s'}}" | format(singular) | safe }}
        {% endif %}
            <tr>
                {% for item in model['data'] -%}
                {% if view not in item.get('omit', []) -%}
                <td>{{ display(item, view) }}</td>
                {% endif -%}
                {% endfor -%}
            </tr>
          {% if as_related -%}
          {{ "{{else}}" }}
            <tr><td rowspan=0><em>Loading {{ "{{%sCountText}}" % singular }}...</em></td></tr>
          {{ "{{/each}}" }}
        {{ "{{/if}}" }}
        {% else -%}
        {{ "{{/each}}" }}
        {% endif %}
        </tbody>
    </table>
</div>
{% if not as_related %}{{ load_more(name) }}{% endif -%}
{% endmacro %}

{# Display index page #}
{% macro index_page(name, models) -%}
{% set model = models[name] %}
<script type="text/x-handlebars" data-template-name="{{name}}">
<h2>{{ "{{pagination.count}}" }} {{ model.get('title', name.title()) }}</h2>
<p><em>{{ "{{#link-to 'index'}}" | safe }}back to Index{{ "{{/link-to}}" }}</em></p>
{{ summary_table(name, model, name) }}</script>
{% endmacro %}

{# Display detail page #}
{% macro detail_page(name, models) -%}
{% set model = models[name] %}
{% set view = model.get('singular', name[:-1]) %}
<script type="text/x-handlebars" data-template-name="{{view}}">
<h2>{{model.get('detail_title', view.title() + ' {{id}}')}}</h2>
<p><em>back to
  {{ "{{#link-to '%s'}}%s{{/link-to}}" | format(name, name.title()) | safe }},
  {{ "{{#link-to 'index'}}Index{{/link-to}}" | safe }}</em>
</p>
{% if model.get('detail_hack_nav') -%}
{# Hack for Feature page #}
{{ model['detail_hack_nav'] | safe }}
{% endif -%}

<dl>
  {% for item in model['data'] -%}
  {% if view not in item.get('omit', []) -%}
  <dt>{{ item['name'] }}</dt>
  <dd>{{ display(item, view, detail=True) }}</dd>
  {% endif -%}
  {% endfor -%}
  {% for item in model.get('detail_hack_data', []) -%}
  <dt>{{ item['name'] }}</dt>
  <dd>{{ item['raw'] | safe }}</dt>
  {% endfor -%}
</dl>

{% for item in model['related'] %}
{% set name = item['name'] %}
<h3>{{ item.get('title', name.title() + " for " + view.title() + ' {{id}}') }}</h2>
{{ summary_table(name, models[name], view, through=item.get('through'), as_related=True) }}
{%- endfor -%}
</script>
{% endmacro %}
