<section class="webplatformcompat-feature" lang="{{lang}}" data-type="{{data['type']}}" data-id="{{data['id']}}">
<h2>Specifications</h2>
{% if data['links']['references'] %}
<table class="specifications-table">
  <thead>
    <tr>
      <th>Specification</th>
      <th>Status</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
  {%- for reference_id in data['links']['references'] %}
    {%- set reference = collection['references'][reference_id] %}
    {%- set section = collection['sections'][reference['links']['section']] %}
    {%- set spec = collection['specifications'][section['links']['specification']] %}
    {%- set maturity = collection['maturities'][spec['links']['maturity']] %}
    {%- set mat_class = "maturity-" ~ maturity.slug %}

    <tr>
      <td>
        <a href="{{trans_str(spec.uri) ~ trans_str(section.subpath)}}">
          {{trans_span(spec.name)}}
          <br>
          <small>{{trans_span(section.number)}} {{trans_span(section.name)}}</small>
        </a>
      </td>
      <td>
        {{trans_span(maturity.name, class=mat_class)}}
      </td>
      <td>
        {%- if section.note %}
        {{trans_span(section.note)}}
        {% endif %}

      </td>
    </tr>
  {%- endfor %}

  </tbody>
</table>
{% else %}

<i>No specifications</i>
{% endif %}
{%- set strings = {
        'Basic support': {
            'de': 'Grundlegende Unterstützung',
            'en': 'Basic support',
            'es': 'Soporte básico',
            'fr': 'Support de base',
            'ja': '基本サポート',
            'pt-BR': 'Suporte básico',
        },
    }
%}

<h2>Browser compatibility</h2>
{%- for tab in meta['compat_table']['tabs'] %}


<h3>{{trans_str(tab['name'])}}</h3>
<table class="compat-table">
  <thead>
    <tr>
      <th>Feature</th>
      {%- for browser_id in tab['browsers'] %}
      {%- set browser = collection['browsers'][browser_id] %}

      <th>{{trans_span(browser.name)}}</th>
      {%- endfor %}

    </tr>
  </thead>
  <tbody>
    {%- for feature_id, browser_map in meta['compat_table']['supports'].items() %}
    {%- if feature_id == data['id'] %}
    {%- set feature = data %}
    {%- set feature_name = trans_span(strings['Basic support']) %}
    {%- else %}
    {%- set feature = collection['features'][feature_id] %}
    {%- set feature_name = trans_span(feature.name) %}
    {%- endif %}

    <tr>
      <td>{{feature_name}}</td>
      {%- for browser_id in tab['browsers'] %}
        {%- set browser = collection['browsers'][browser_id] %}
        {%- set supports = browser_map[browser_id] %}

      <td>
        {%- for support_id in supports %}
          {%- set support = collection['supports'][support_id] %}
          {%- set version_id = support['links']['version'] %}
          {%- set version = collection['versions'][version_id] %}
          {%- if not loop.first %}<br>{% endif %}
            {%- if version.version != 'current' %}
              {%- if version.release_notes_uri %}

        <a href="{{trans_str(version.release_notes_uri)}}" title="Release Notes">{{version.version}}</a>
              {%- else %}

        {{version.version}}
              {%- endif %}

              {%- if support.support != 'yes'%} ({{support.support}}){% endif %}
            {%- else %}

        ({{ support.support }})
            {%- endif %}
          {%- if support.prefix and support.prefix_mandatory %}

        <code>{{support.prefix}}</code>
          {%- endif %}
          {%- if support.note %}
            {%- set notenum = meta['compat_table']['notes'][support_id] %}
            [<a
              id="wpc-compat-{{data['id']}}-note-{{notenum}}-back"
              href="#wpc-compat-{{data['id']}}-note-{{notenum}}">{{notenum}}</a>]
          {%- endif %}
        {%- else %}

        (unknown)
        {%- endfor %}

      </td>
      {%- endfor %}

    </tr>
    {%- endfor %}

  </tbody>
</table>
{%- else %}
<i>No compatibility data</i>

{%- endfor %}

{% if meta['compat_table']['notes'] %}
<div id="wpc-compat-{{data.id}}-notes">
  {%- for support_id, notenum in meta['compat_table']['notes'] | dictsort(by='value') %}
  {%- set support=collection['supports'][support_id] %}
  <p id="browsercompat-{{data['id']}}-note-{{notenum}}">
    <a href="#browsercompat-{{data['id']}}-note-{{notenum}}-back">[{{notenum}}]</a>
    {{trans_span(support.note)}}
  </p>
  {%- endfor %}
</div>
{% endif %}

</section>
<section class="webplatformcompat-feature-meta" lang="{{lang}}">
<p><em>Showing language "{{lang}}". Other languages:</em></p>
<ul>
{% for l in meta['compat_table']['languages'] %}
  <li><a href="/api/v1/view_features/{{data['id']}}?format=html&lang={{l}}">{{l}}</a></li>
{% endfor %}
</ul>

{%- set pagination =  meta['compat_table']['pagination']['linked.features'] %}
{%- if pagination['next'] or pagination['previous'] %}
<p>{{pagination['count']}} features total (
{%- if pagination['previous'] %}<a href="{{pagination['previous']}}">previous page</a>{% endif%}
{%- if pagination['next'] and pagination['previous'] %}, {% endif %}
{%- if pagination['next'] %}<a href="{{pagination['next']}}">next page</a>{% endif %}).
{%- endif %}

</section>
{#
<pre>meta: {{meta|pprint}}</pre>
<pre>features: {{features|pprint}}</pre>
<pre>collection: {{collection|pprint}}</pre>
<pre>language: {{lang}}</pre>
#}
