{% extends "webplatformcompat/base.html" %}

{% block head_title %}Browser Compatibility Data{% endblock %}

{% block body_container %}
<div class="jumbotron">
  <div class="container">
    <h1 class="smaller">The Web Today</h1>
    <p>
        The <strong>browsercompat</strong> project helps developers build for
        the modern web.  It provides up-to-date information from the
        <a href="https://developer.mozilla.org/en-US/">Mozilla Developer Network</a>.
        Developers can learn about web browsers and the features they support, and
        then create something awesome.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ url('about') }}" role="button">
            Learn more »</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Browse the Data</h2>
      <p>View the web platform compatibility data available from the API.</p>
      <p><a class="btn btn-default" href="{{ url('browse') }}" role="button">Data &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Explore the API</h2>
      <p>Jump right into the self-documenting API.</p>
      <p><a class="btn btn-default" href="{{ url('v1:api-root') }}" role="button">API &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Import from MDN</h2>
      <p>See the current status of the importer on your favorite MDN page.</p>
      <p><a class="btn btn-default" href="{{ url('feature_page_list') }}" role="button">Importer &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Read the Docs</h2>
      <p>Read the detailed API documentation to build your own API client.</p>
      <p><a class="btn btn-default" href="http://browsercompat.readthedocs.org/en/latest/" role="button">Documentation &raquo;</a></p>
    </div>
  </div>
  <hr>
  <footer>
    <p>© 2014 - {{current_year()}} Mozilla</p>
  </footer>
</div>
{% endblock %}
